### functions chapter 41

In [3]:
# syntax

In [5]:
def greet_saylani():
    print("welcome to zaitoon it park")

greet_saylani()

welcome to zaitoon it park

In [7]:
greet_saylani()

welcome to zaitoon it park

In [11]:
def add(num1,num2):
    sum= num1 + num2
    print(sum)

add(5,8)

13

In [17]:
def sub(num1 =0,num2 =0): #aati ha to thk ha wrna default value 0 ha;
    sub= num1 - num2
    print(sub)

sub(5,8)

-3

In [19]:
sub(1)

1

In [29]:
def salary_cal(salary, bonus=0.15):
    salaryafter = salary +(salary*bonus)
    print(salaryafter)
    
    salary_cal(45000)

In [39]:
def yearly_bonus(salary):
    bonus= salary*0.15
    print(bonus)
    print(bonus + salary)

yearly_bonus(45000)

6750.0
51750.0

In [48]:
def checkstring(text):
    uppercase=0
    lowercase=0
    
    for char in text:
        if text.isupper():
          uppercase +=1
elif text.islower():
    lowercase +=1

print(uppercase,lowercase)

checkstring("Alvi is Here")

IndentationError: unindent does not match any outer indentation level (<string>, line 5)

In [58]:
def checkstring(text):
    uppercase = 0
    lowercase = 0
    
    for char in text:  # Changed 'text' to 'char' in the loop to avoid shadowing the parameter
        if char.isupper():
            uppercase += 1
        elif char.islower():
            lowercase += 1
    
    return uppercase, lowercase

checkstring("Alvi is Here")

(2, 8)

In [54]:
def display_result(team ,buisness,*args):
    print("the winning team is "+ team)
    print("business was " +buisness)
    print(args)

display_result("real madrid", "48664$","by penalty","captain:salah")

the winning team is real madrid
business was 48664$
('by penalty', 'captain:salah')

In [56]:
def details(name, age="20",status="employee"):
    print(name,age,status)

details("asif")

asif 20 employee

In [60]:
uppercase , lowercase= checkstring("zainHKhkcsjl")

In [62]:
print(uppercase,lowercase)

2 10

In [64]:
def list_mul():

SyntaxError: incomplete input (1010610010.py, line 1)

In [70]:
def opp(char):
    result =char.reverse
    print(result)

opp("abcdefgh")

AttributeError: 'str' object has no attribute 'reverse'

In [80]:
def opp(str):
    result = str[::-1] # This is the correct way to reverse a string in Python
    print(result)

opp("abcdefgh")

hgfedcba

# local vs global

In [92]:
def details():
    global name
    name="zain"
    ide="338636"
    print(name)

details()
name

zain

'zain'

In [100]:
def greet():
    print("hello")

def name(name):
    print(name + greet())  # Note the () to call the function

name("John")  # Correct way to call the name function

hello

TypeError: can only concatenate str (not "NoneType") to str