## CASE STUDY: TITANIC DATA ANALYSIS

- DataFrames
    - loading & basic analysis
    - sorting & subsetting
    - creating new columns
- Aggregating Data
    - summary statistics
    - counting
    - grouped summary statistics

## 1. Data loading & Basic Analysis

1. Import Libraries

2. Read Titanic Comma Seperated file as `titanic_df`

3. Basic Analysis with `.info()`, `.describe()` methods.

4. Basic Analysis with `.shape`, `.columns`, `.values`, `.index`

### 2. Sorting & SubSetting

5. Sorting Data Set by Single columns `.sort_values()`
- by=""
- ascending=""
- na_position=""

6. Sorting DataSet by Multiple columns `.sort_values()`

7. Subsetting Single column & Multiple columns

8. Subsetting based on Specific Requirements
- Passengers of age greater than 30
- Passengers whose gender is `'Male'` only
- Male Passengers who Survived in the Incident
- Passengers who PClass isin([1,2])
- Give Discounts of 10 percent

## 3. Aggregating Data

#### Summarizing numerical data
- .mean()
- .median()
- .min()
- .maxx()
- .var()
- .std()
- .sum()
- .quantile()

titanic['DOB'].min() #<-- work same as on other columns
titanic['DOB'].max()

#### .agg() method

- One or more operation on single Or multiple columns
- Function creation = parametrs eg: `def pct30(column):return column.quantile(0.3)`
- Function Calling = Arguments eg: `titanic['Age'].agg(pct30)`

#### Characteristics of Lamdba function

- One line funtion
- Without name function
- Not used even before
- Not used even after

## 4. Cumulative statistics
- .cumsum()
- .cummax()
- .cummin()
- .cumprod()

## 5. Counting

- So far, in this chapter, you've learned how to ``summarize numeric variables``. In below notebook, you'll learn how to ``summarize categorical data`` using counting.

- Categorical variables represent types of **data which may be divided into groups**. Examples of categorical variables are race, sex, age group, and educational

#### Drop Duplicates by Single & Multiple Columns
- drop_duplicates(subset= "")

#### Getting Count Stats using `.value_counts()`
- sort=False
- normalize=True

## 6. Group summary statistics

- Average age of Males & Females Using subsetting
- Average age of Males & Females Using `.groupby()`
- Apply Different statistics methods like mean, counts, max & group.

## Pivot tables

titanic.pivot_table(
    values=None,
    index=None,
    columns=None,
    aggfunc='mean',
    fill_value=None,
    margins=False,
    dropna=True,
    margins_name='All',
    observed=False,
)

In [ ]:
#titanic.groupby('Sex')['Age'].mean()

- The ``"values"`` argument is the column that you want to ``summarize/Operation``, and the ``"index"`` column is the column that you want to ``group by``. 
- By default, pivot_table takes the **mean** value for each group.

#### Thanks:)
- Assignment work on Dogs Dataset