### Recap
- countries
- populations

In [9]:
import pandas as pd

In [5]:
pop=[30.35,564.1,850.5]
countires=["pak","afg","india"]
index=countires.index("pak")
index

0

This way of extracting values is not adaptable because:
- Not convenient
- Not intutive

Solution is **Dictionaries**

## Dictionaries
- Accept different type
- Keys have to be "immutable" objects ->> Error
- add values
- edit value
- **in** Keyword
- delete any element

## List vs Dictionaries

## Introudction to Pandas
- ##### Question: How can we store that data in python ? 
- Numpy Array (absolutely **NO** because in Numpy we save data of same type)

### Answer:  Pandas 
- high level  data manipulation
- Wes Mckinney
- built on Numpy
- Data Frame
- special concept of Series

## Case Study: population dataset of BRICS countries
- NOTE:
   - key (columns, label)
   - values(data, column by column)

### CREATING DATAFRAME

bricks = {"country": ['Brazil', 'Russia', 'India', 'China', 'South Africa'],
         "capital": ['Brazilia', 'Moscow', 'New Delhi', 'Beijing', 'Pretoria'],
         "area": [8.516, 17.100, 3.286, 9.597, 1.221],
         "population": [200.40, 143.50, 1252.00, 1357.00, 52.98]}

change index values `df.index = []`

#### another way to create DATAFRAME is through csv (comma seperated files)

assume we have **'bricks.csv'** file in our directory

In [13]:
bricks_csv= pd.read_csv("./dataset/bricks.csv",index_col=0)
bricks_csv

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

### index and select data
- square brakets (type--> series) & double squrae brakets (type --> DataFrame)
- advance methods
    - loc
    - iloc

In [17]:
type(bricks_csv.country)

pandas.core.series.Series

In [19]:
bricks_csv.area

BR     8.516
RU    17.100
IN     3.286
CH     9.597
SA     1.221
Name: area, dtype: float64

In [25]:
bricks_csv[["area","population"]]  #method 2 of column slicing

      area  population
BR   8.516      200.40
RU  17.100      143.50
IN   3.286     1252.00
CH   9.597     1357.00
SA   1.221       52.98

In [35]:
df=pd.DataFrame(bricks_csv)
df.loc[['BR','RU','IN']]

   country    capital    area  population
BR  Brazil   Brasilia   8.516       200.4
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0

### Question What if we want specific columns and rows ?
###### Key points about [ ] square brakets

- square bralets have limited functionality
- ideally 
    - Remember **2D Numpy array** in numpy
    - ``my_arr[row, col]``
- pandas
    - ``loc``(label based)
    - ``iloc`` (index based)

In [4]:
# rows as pandas series `[]` & dataframe `[[]]`

In [5]:
# specific rows more than one

In [ ]:
# specific rows and columns

In [6]:
# try slicing with it

#### Quick Recap

- Square brakets

    - column access --> ``bricks.csv[['country', 'capital']]``
    - row access (only through slicing) --> ``bricks_csv[1:4]``
    
- loc(label-based) remeber ``arr[rows, columns]``

    - row access --> ``bricks_csv.loc[['BR', 'IN']]``
    - columns access --> ``bricks_csv.loc[:['country', 'capital']]``
    - both rows and columns --> <br>
    ``bricks_csv.loc[['BR', 'IN'], ['country', 'capital']]``

### Accessing values with iloc[]