###  TUPLES

In [2]:
first_tuple = (1,2,3,4)
first_tuple

(1, 2, 3, 4)

In [8]:
multiple_data=(56,00.25,"yesss")
multiple_data

(56, 0.25, 'yesss')

In [12]:
tuple =("zain","ayan","hamza","aqib")
tuple[2]

'hamza'

In [16]:
new_tuple=("chair","desk","curtains","grocery","food","market")
new_tuple[2:-1]

('curtains', 'grocery', 'food')

In [18]:
new_tuple=("chair","desk","curtains","grocery","food","market")
new_tuple[-2:-1]

('food',)

In [28]:
for i in range(len(tuple):
    print(tuple[i]

SyntaxError: invalid syntax (811841597.py, line 1)

In [30]:
var ='smitclass'
for i in var:
    print (i)

s
m
i
t
c
l
a
s
s

In [32]:
list=["zain","alvi","qasim"]
for i in range(list):
    print(i)

TypeError: 'list' object cannot be interpreted as an integer

In [36]:
names=[]
for i in range(4):
    name=input("enter a name")
    names.append(name)

for i in names:
    print(i)

enter a name dkl
enter a name jhj
enter a name jh
enter a name vv

dkl
jhj
jh
vv

In [58]:
nested_lists = [[1,2,3,4,5], [55,66,88,66], ["zain","alvi"]]
for i in nested_lists:
    print(i)
    for j in i:
        print (j)

[1, 2, 3, 4, 5]
1
2
3
4
5
[55, 66, 88, 66]
55
66
88
66
['zain', 'alvi']
zain
alvi

In [44]:
simple_list =[1,2,3,4,5]
for i in simple_list:
    print (i)

1
2
3
4
5

In [52]:
simple_list =[1,2,3]
for i in simple_list:
    for j in simple_list:
        for z in simple_list:
        print ("i",i,"j",j,"z",z)

IndentationError: expected an indented block after 'for' statement on line 4 (3107589421.py, line 5)

In [54]:
simple_list = [1, 2, 3]
for i in simple_list:
    for j in simple_list:
        for z in simple_list:
            print("i", i, "j", j, "z", z)

i 1 j 1 z 1
i 1 j 1 z 2
i 1 j 1 z 3
i 1 j 2 z 1
i 1 j 2 z 2
i 1 j 2 z 3
i 1 j 3 z 1
i 1 j 3 z 2
i 1 j 3 z 3
i 2 j 1 z 1
i 2 j 1 z 2
i 2 j 1 z 3
i 2 j 2 z 1
i 2 j 2 z 2
i 2 j 2 z 3
i 2 j 3 z 1
i 2 j 3 z 2
i 2 j 3 z 3
i 3 j 1 z 1
i 3 j 1 z 2
i 3 j 1 z 3
i 3 j 2 z 1
i 3 j 2 z 2
i 3 j 2 z 3
i 3 j 3 z 1
i 3 j 3 z 2
i 3 j 3 z 3

In [68]:


for i in range(5):
    for j in range(5):
        print("*", end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [78]:
for i in range(6):
    for j in range(5-i):
        print("*", end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [80]:
for i in range(6):
    for j in range(i):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [82]:
for i in range(12):
    print(i)
    continue
    print("hello")

0
1
2
3
4
5
6
7
8
9
10
11